{% extends 'layout.html.twig' %}

{% block navigation %}
    {% include 'Admin/_navigationAdmin.html.twig' %}
{% endblock %}

{% block content %}
<h1>Liste des prix </h1>

{% if get.message is defined %}
    <div class="alert alert-primary" role="alert">
        {{ get.message }}
    </div>
{% endif %}
    <a type="button" href="/admin/addPrice" class="btn btn-success">Ajouter un prix</a>
<section>
{% for price in prices %}
    <div class="card col-12 col-sm-4">
        <div class="card-body">
            <h5 class="card-title"><a  class="col-lg-6">{{ price.name }}</a></h5>
            <p class="card-text">Prix hiver : {{ price.price_winter }} euros</p>
            <p class="card-text"> Prix été : {{ price.price_summer }} euros</p>
            <a href="/admin/editPrice/{{ price.id }}" class="btn btn-primary">Modifier</a>
            <button type="button"
                    class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#deleteConfirmation-{{ price.id }}"
            >Supprimer</button>
            <div class="modal fade" id="deleteConfirmation-{{ price.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteConfirmationLabel">Etes-vous sûr ?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">La suppression de cette catégorie de prix est définitive</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler
                            </button>
                            <a href="/admin/deletePrice/{{ price.id }}" class="btn btn-danger">Confirmer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</section>

{% endblock %}

{% block footer %}
{% endblock %}