<form method="post">
    <div class="row">
        <div class="col s6">
            <label for="first_name">Nom de la chambre</label>
            <input value="{{ room.roomName }}" id="first_name" type="text">
        </div>
        <div class="col s6">
            <label for="textarea1">Description</label>
            <textarea id="textarea1" class="materialize-textarea">{{ room.description }}</textarea>
        </div>
        <p>
            <label for="textarea1">Nombre de lits</label>
            <input type="range" id="test5" min="0" max="10" value="{{ room.nb_bed }}"/>
        </p>
        <div class="col s6">
            <label for="first_name">Surface chambre</label>
            <input value="{{ room.surface }}" id="first_name" type="text" class="validate">
        </div>
        <div class="col s6">
            <input type="checkbox" name="front_page" {% if room.front_page == 1 %}checked{% endif %}/>
            <label for="front_page">Haut de page</label>
        </div>
        <div class="col s12">
            <label>Prix de la chambre</label>
            <select>
                {% for price in prices %}
                    <option value="{{ price.id }}"{% if price.id == room.roomPriceId %}selected="selected"{% endif %}>{{ price.name|e }} ({{ price.price_summer }}/{{ price.price_winter }}€)</option>
                {% endfor %}

            </select>
        </div>
        <div class="col s12">
            <label>Vue de la chambre</label>
            <select>
                {% for view in views %}
                <option value="{{ view.id }}"{% if view.id == room.roomViewId %}selected="selected"{% endif %}>{{ view.name|e }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col s12">
            <label>Thème de la chambre</label>
            <select>
                {% for theme in themes %}
                    <option value="{{ theme.id }}"{% if theme.id == room.roomThemeId %}selected="selected"{% endif %}>{{ theme.name|e }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="hidden" value="{{ room.id }}" name="id">
        <input type="submit" value="Modifier chambre">
    </div>
</form>
