<form method="post">
    <div class="row">
        <div class="col s6">
            <label for="first_name">Nom de la chambre</label>
            <input value="{{ room.room_name }}" id="first_name" type="text">
        </div>
        <div class="col s6">
            <label for="textarea1">Description</label>
            <textarea id="textarea1" class="materialize-textarea">{{ room.description }}</textarea>
        </div>
        <p>
            <label for="textarea1">Nombre de lits</label>
            <input type="range" id="test5" min="0" max="10" value="{{ room.nb_bed }}"/>
        </p>
        <div class="col s6">
            <label for="first_name">Surface chambre</label>
            <input value="{{ room.surface }}" id="first_name" type="text" class="validate">
        </div>
        <div class="col s6">
            <input type="checkbox" name="front_page" {% if room.front_page == 1 %}checked{% endif %}/>
            <label for="front_page">Haut de page</label>
        </div>
        <div class="col s12">
            <label>Prix de la chambre</label>
            <select>
                <option value="" disabled selected>Sélectionner prix</option>
                <option value="1">Prix 1</option>
                <option value="2">Prix 2</option>
                <option value="3">Prix 3</option>
            </select>
        </div>
        <div class="col s12">
            <label>Vue de la chambre</label>
            <select>
                <option value="" disabled selected>Sélectionner vue</option>
                <option value="1">Vue 1</option>
                <option value="2">Vue 2</option>
                <option value="3">Vue 3</option>
            </select>
        </div>
        <div class="col s12">
            <label>Thème de la chambre</label>
            <select>
                <option value="" disabled selected>Sélectionner thème</option>
                <option value="1">Thème 1</option>
                <option value="2">Thème 2</option>
                <option value="3">Thème 3</option>
            </select>
        </div>
        <input type="hidden" value="{{ room.id }}" name="id">
        <input type="submit" value="Modifier chambre">
    </div>
</form>
