<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="{{ room.picture }}">
                <span class="card-title teal lighten-2">{{ room.name }}</span>
            </div>
            <div class="card-content">
                <p>{{ room.description }}</p>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Prix été*</th>
                    <th>Prix hiver*</th>
                    <th>Theme</th>
                    <th>Vue</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>{{ room.priceSummer }} €</td>
                    <td>{{ room.priceWinter }} €</td>
                    <td>{{ room.theme }}</td>
                    <td>{{ room.view }}</td>
                </tr>
                </tbody>
            </table>

            <p style="font-size: small">*les prix sont indiqués par nuit et par personne</p>
        </div>
    </div>
</div>